version: "3.8"

services:
  reth:
    image: ghcr.io/paradigmxyz/reth:v0.2.0-beta.5
    restart: unless-stopped
    ports:
      - "8545:8545" # rpc
      - "8551:8551" # engine
      - "9001:9001" # metrics
      - "30303:30303" # p2p
    volumes:
      - ./data/reth:/root/.local/share/reth
    command: >
      node
      --http
      --http.addr 0.0.0.0
      --authrpc.addr 0.0.0.0
      --metrics 0.0.0.0:9001
  lighthouse:
    image: sigp/lighthouse:v5.1.3
    restart: unless-stopped
    ports:
      - "5054:5054" # metrics
      - "9000:9000" # p2p
    volumes:
      - ./data/lighthouse:/root/.lighthouse
    environment:
      JWT_SECRET_KEY:
      CHECKPOINT_SYNC_URL:
    command: >
      lighthouse beacon
      --network mainnet
      --http
      --http-address 0.0.0.0
      --metrics
      --metrics-address 0.0.0.0
      --execution-jwt-secret-key $JWT_SECRET_KEY
      --checkpoint-sync-url $CHECKPOINT_SYNC_URL
      --execution-endpoint http://reth:8551
  prometheus:
    image: prom/prometheus:v2.51.2
    profiles:
      - optional
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
      - ./config/etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  grafana:
    image: grafana/grafana:10.4.2
    profiles:
      - optional
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./config/etc/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./config/etc/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
    environment:
      GF_SECURITY_ADMIN_PASSWORD:

volumes:
  prometheus_data:
  grafana_data:
